@{
    ViewBag.Title = "Home Page";
}
</div>
<div class="slider fullscreen">
    <ul class="slides">
        <li>
            <img src="https://www.carrentals.com/pictures/101/show/home-background.jpg?sh=2ca9338c2bd24a21"> <!-- random image -->
            <div class="caption center-align" id="BB">
                <h3>Trusted by 7 million customers and counting!</h3>
                <h5>Are you Looking to: </h5>
                <br />
                <br />
                <a class="waves-effect waves-light btn-large blue darken-4" style=" width: 156px; height: 80px; padding-top: 10px; margin-right: 20px;" href="/Home/InsertRentForm">Rent </a>
                <a class="waves-effect waves-light btn-large blue darken-4" style=" width: 156px; height: 80px; padding-top: 10px; margin-left: 20px;" href="/Home/MyRent">Return </a>
                <br />
                <br />
                <br />
                <br />
                <br /> 
            </div>
        </li>
        
    </ul>
</div>